$nav-bg-color: #FAFAFA;
$nav-border-bottom: #E4E4E4;
$nav-text-color: #777777;
$nav-border-color-input: #D5D5D5;
$nav-round-red-elem: #FF7F68;

header {
  background-color: $nav-bg-color;
  border-top: 7px solid transparent;
  -webkit-border-image: url('../img/header/Group Line.png') 7;
  -o-border-image: url('../img/header/Group Line.png') 7;
  border-image: url('../img/header/Group Line.png') 7;
  margin: 0 auto;
  color: $nav-text-color;
  max-width:1600px;
  

  .flex-container {
    height: 120px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 1px solid $nav-border-bottom;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20pt;
    font-family: 'Source Sans Pro';

    .mobile-menu {
      display: none;
    }

    .flex-item {
      text-align: center;
      cursor: pointer;

    }
    #search{
      background-color:#fff;
      border-radius:6px;
    }
    .search {
      width: 462px;
      height: 36px;
      border-radius: 6px;
      background: url('../img/header/Magnifier.png') no-repeat scroll 72px;
      background-position-x: 96%;
      padding: 24px 18px 18px 12px;
      border:1px solid $nav-border-color-input;
    }

    .alert-count {
      color: #fff;
      height: 44px;
      width: 44px;
      background-color: $nav-round-red-elem;
      border: 4px solid $nav-bg-color;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      margin-top: -73px;
      margin-left: 15px;

      p {
        padding: 0;
        margin: 8%;
      }
    }

    .message-count {
      @extend .alert-count;
    }

    input::-webkit-input-placeholder {
      color: $nav-border-color-input;
      font-size: 20pt;
      padding-top: 4px;

      input::-moz-placeholder {
        color: $nav-border-color-input;
        font-size: 20pt;
      }

      input:-moz-placeholder {
        color: $nav-border-color-input;
        font-size: 20pt;
      }

      input:-ms-input-placeholder {
        color: $nav-border-color-input;
        font-size: 20pt;
      }
    }
  }

  a {
    text-decoration: none;
    color: $nav-text-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width:1200px) {
  header {
    .flex-container {
      .search {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width:992px) {
  header {
    .flex-container {
      .menu {
        font-size: 18pt;
      }
      .flex-item{
        img{
          margin-right:12px;
        }
      }
      .search {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width:768px) {
  header {
    .flex-container {
      .menu {
        display: none;
      }

      .mobile-menu {
        display: inherit;

        i {
          color: $nav-text-color;
          font-size: 50pt;
          cursor: pointer;

          &:hover {
            border: 1px solid $nav-text-color;
            padding: 4px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
